<div *ngIf="!placeOfEvent">

  <div *ngIf="!placeOfMeeting"
       matTooltip='Начните вводить название и выберите подходящее из предложенного списка, а мы покажем этот населённый пункт на карте, чтобы вы быстрее смогли найти нужное место'
       class="formwide-tooltip
                      small-placeholder">
    <mat-form-field>
      <input id="actionPlace" matInput placeholder="Название или адрес места проведения" autocorrect="off"
             autocapitalize="off" (keydown)="preventEnter($event)"  spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl"
             [(ngModel)]="place">
    </mat-form-field>
  </div>
  <div *ngIf="place && place.length > 0">
    <p>Укажите конкретную точку на карте с помощью геомаркера</p>
    <div class="go-flex-no-space">
      <button mat-button color="basic" class="map-view-btn" (click)="switchMapView('roadMap', $event)"
              [class.selected-btn]="mapView === 'roadMap'">Карта
      </button>
      <!--<button mat-button color="basic" class = "map-view-btn" (click)="switchMapView('satellite')" [class.selected-btn]="mapView === 'satellite'">Спутник</button>-->
      <button mat-button color="basic" class="map-view-btn" (click)="switchMapView('hybrid', $event)"
              [class.selected-btn]="mapView === 'hybrid'">Спутник
      </button>
    </div>

    <agm-map *ngIf="mapView === 'roadMap'" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false"
             [zoom]="zoom" [mapTypeId]="'roadmap'">
      <agm-marker [markerDraggable]="true" (dragEnd)="markerMoved($event)" [latitude]="latitude"
                  [longitude]="longitude"></agm-marker>
    </agm-map>

    <agm-map *ngIf="mapView === 'hybrid'" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false"
             [zoom]="zoom" [mapTypeId]="'hybrid'">
      <agm-marker [markerDraggable]="true" (dragEnd)="markerMoved($event)" [latitude]="latitude"
                  [longitude]="longitude"></agm-marker>
    </agm-map>
  </div>
</div>

<div *ngIf="placeOfEvent">
  <agm-map [latitude]="placeOfEvent[0]" [longitude]="placeOfEvent[1]" [scrollwheel]="false"
           [zoom]="zoom" [mapTypeId]="'roadmap'">
    <agm-marker [latitude]="placeOfEvent[0]"
                [longitude]="placeOfEvent[1]"></agm-marker>
  </agm-map>
</div>

<div *ngIf="placeOfMeeting">
  <agm-map [latitude]="placeOfMeeting[0]" [longitude]="placeOfMeeting[1]" [scrollwheel]="false"
           [zoom]="zoom" [mapTypeId]="'roadmap'">
    <agm-marker [latitude]="placeOfMeeting[0]"
                [longitude]="placeOfMeeting[1]"></agm-marker>
  </agm-map>
</div>
