@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.no-decor {
  text-decoration: none;
  color: black;
}

.formwide-tooltip {
  max-width: 250px;
}

.time-field {
  width: 80px;
}

.padd-up-right{
  padding: 2% 2% 0 2%;
}
.padd-up{
  padding-top: 2%;
}
.time-form {
  margin: -1.5% 0 0 3%;
}

.go-flex {
  display: flex;
  justify-content: space-between;
}

.d-flex-center {
  display: flex;
  justify-content: center;
}

.time-form p .marg-top-8{
  margin-top: 8%;
}

.exp-panel-new-action {
  width: 30%;
}

.block-text-center {
  font-size: x-large;
  text-align: center;
}

.block-text-right{
  text-align: right;
}

.small-placeholder {
  font-size: small;
}

.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 16px;
}
.go-flex-no-space {
  display: flex;
}

.marg-top-3 {
  margin-top: 3%;
}

.marg-top-6 {
  margin-top: 6%;
  position: relative;
}

.border {
  border: groove  red;
}

.box-upload-picture {
  border: dotted #80878C;
  height: 150px;
  max-width: 300px;
  background-image: url("./assets/step3Placeholder.svg");
  background-size: cover;
}

.blue {
  color: #3C85FE;
}


.disabled {
  pointer-events: none;
  color: #e8e8e8;
}

.satellite-btn {
  position: absolute;
  color: red;
  font-size: 40px;
  top: 10%;
  left: 10%;
}

.pos-relative {
  position: relative;
}

.selected-btn {
  background-color: #e8e8e8;
}
.disable {
  pointer-events: none;
}
.pos-abs {
  position: absolute;
}

.padding {
  padding: 1% 3% 0 3%;
}

.go-block {
  display: block;
}

.example-margin {
  margin: 10px;
}

.mat-slider-horizontal {
  width: 200px;
}

div .mat-slider-horizontal {
  height: 50px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb {
  background-color: #80878C;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}


.circle {
  background-color: #FFD740;
  border-radius: 50%;
  padding: 0.8% 1.3% 0.8% 1.3%;
}

.correct {
  border: 1px solid #e8e8e8;
  box-shadow: #e8e8e8 1px 1px 1px 1px;
  display: inline-block;
}

.d-inline-block {
  display: inline-block;
}

.bold {
  font-variant: small-caps;
  font-weight: bold;
}

.vanish {
  color: transparent;
  pointer-events: none;
}

.padd-up-right-6 {
  padding: 6% 2% 0 2%;
}

.red {
  background-color: lightcoral;
}

.padd-left-right {
  padding: 0 2% 0 2%;
}

.border {
  border: solid red;
}

.center {
  margin: 0 auto;
}

.errorMessage {
  color: red;
  font-size: 10px;
}

.hide {
  visibility: hidden;
}

.pointer {
  cursor: pointer;
}

.margin-top-minus-1 {
  margin: -1.3% 0 0 .3%;
}

.big-box {
  height: 500px;
  border: solid #e8e8e8;
}

.vert-center {
  position: absolute;
  top: 43%;
  padding: 0;
  margin: 0;
}


.invisible {
  display: none;
}

.limited {
  width: 100px;
}

.margin-top-minus-18 {
  margin-top: -18px;
}

form {
  position: relative;
}

.form-img-container {
  position: absolute;
  right: 15%;
  top: 20px;
  width: 300px;
  height: 400px;
}

.form-img {
  padding-top: 20px;
  width: 200px;
  display: block;
}

@media screen and (max-width: 940px) {
  .form-img-container {
    display: none;
  }
}

.example-card-contact {
  max-width: 40%;
}

  .photo-published {
    background-image: url("./assets/step4Publication.svg");
    background-size: cover;
  }
